@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Snow.ViewModels.BaseViewModel>
@using System.Collections.Generic
@{
    var keywords = String.Join(",", Model.Keywords);
    //string baseUrl = "http://localhost:5498";
    //string baseUrl = "http://shanec-.github.com/nullfactory.net";
    string baseUrl = "http://www.nullfactory.net";
}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>the nullfactory</title>
	<meta name="description" content="the nullfactory" />
	<meta name="keywords" content="@keywords" />

	<link href="/feed.xml" type="application/atom+xml" rel="alternate" title="the nullfactory" Feed" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="/stylesheets/base.css" type="text/css" />
	<link rel="stylesheet" href="@baseUrl/stylesheets/github.css" type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="@baseUrl/stylesheets/octicons.css" type="text/css" />
  <link rel="stylesheet" type="text/css" href="@baseUrl/stylesheets/font-awesome/css/font-awesome.min.css" />
	<link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans" rel="stylesheet">
	@Html.CanonicalUrl()
</head>
<body>
  <!-- header -->
	<div class="header-container">
	  <header>
		  <ul class="nav">
			<!--Change the  URL here if working on an absolute domain-->
			<li><a href="@baseUrl"><img src="/images/logo.png" class="logo"/></a></li>
			<li><a href="@baseUrl/archive"><span style="margin-right: 6px;"></span>archive</a></li>
			<li><a href="@baseUrl/about"><span style="margin-right: 6px;"></span>about</a></li>
		  </ul>
	  </header>
	</div>
  <!-- header -->

  <div class="container">
	@RenderBody()
  </div>

  <!-- /.main -->

  @Html.RenderGoogleAnalytics("UA-57983893-1")
</body>
</html>
