@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Snow.ViewModels.PostViewModel>
@using System.Collections.Generic
@{
    var keywords = String.Join(",", Model.Keywords);
    //string baseUrl = "http://localhost:5498";
    //string baseUrl = "http://shanec-.github.com/nullfactory.net";
    string baseUrl = "http://www.nullfactory.net";
}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>the nullfactory - @Model.Title</title>
	<meta name="description" content="the nullfactory">
	<meta name="keywords" content="@keywords" />

	<link href="/feed.xml" type="application/atom+xml" rel="alternate" title="the nullfactory" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="/stylesheets/base.css" type="text/css" />
	<link rel="stylesheet" href="@baseUrl/stylesheets/github.css" type="text/css" />
	<link rel="stylesheet" href="@baseUrl/stylesheets/octicons.css" type="text/css" />
  <link rel="stylesheet" type="text/css" href="@baseUrl/stylesheets/font-awesome/css/font-awesome.min.css" />
	<link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Bungee" rel="stylesheet">
	@Html.CanonicalUrl()
</head>
<body>
  <!-- header -->
	<div class="header-container">
	  <header>
		  <ul class="nav">
			<!--Change the  URL here if working on an absolute domain-->
			<li><a href="@baseUrl"><span class="logo">the nullfactory</span></a></li>
			<li><a href="@baseUrl/archive"><span style="margin-right: 6px;"></span>archive</a></li>
			<li><a href="@baseUrl/about"><span style="margin-right: 6px;"></span>about</a></li>
		  </ul>
	  </header>
	</div>
  <!-- header -->

  <div class="container">
		<div class="listing">
	<div class="post other link">
		<h2><span class="mega-octicon octicon-file-text" style="min-width: 32px;"></span><a href="@Model.Url">@Model.Title</a></h2>
		<p class="post-date">@Model.PostDate.ToString("dd MMM yyyy")
		    @foreach (var category in Model.Categories) {
				@:| <a href="/category/@category.Url">@category.Name</a>
			}
	  </p>

		@Html.RenderSeries()

		@Html.Raw(Model.PostContent)

	<!-- Go to www.addthis.com/dashboard to customize your tools -->
	<div class="addthis_sharing_toolbox"></div>

		@Html.RenderDisqusComments("thenullfactory")

	</div>

	<!-- Go to www.addthis.com/dashboard to customize your tools -->
	<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53ba83f94ea9c78f" async="async"></script>
</div>
  </div>

  <!-- /.main -->

  @Html.RenderGoogleAnalytics("UA-57983893-1")
</body>
</html>
