@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Snow.ViewModels.ContentViewModel>
@using System.Collections.Generic
@{
  Layout = "default.cshtml";
}
<header>
  <div class="head-inner">
    <!--<h2>&nbsp;</h2>-->
  </div>
</header>
 <div class="listing">
    @foreach(var postPaged in Model.PostsPaged) {
    <div class="post other link">
      <h2><span class="mega-octicon octicon-file-text" style="min-width: 32px;"></span><a href="@postPaged.Url">@postPaged.Title</a></h2>
      <p class="post-date">@postPaged.Date.ToString("dd MMM yyyy")

      @foreach (var category in @postPaged.Categories) {
      @:| <a href="/category/@category.ToUrlSlug()" title="@category">@category</a>
    }</p>

      <p>
		@Html.RenderSeries(postPaged)
		@Html.Raw(postPaged.ContentExcerpt)
		<p><a href="@postPaged.Url">Read more...</a></p>
	  </p>
    </div>
    }
</div>

  <div id="post-pagination" class="pagination">


     @if (Model.HasPreviousPage) {
      if (Model.PreviousPage == 1) {
      <p class="previous">
        <a href="/">Previous Page</a>
      </p>
      }
      else {
      <p class="previous">
        <a href="/page@(Model.PreviousPage)">Previous Page</a>
        </p>
      }
    }

    @if (!Model.HasPreviousPage) {

      <!--<a href="/">Previous Page</a>-->

    }

    @if (Model.HasNextPage) {
    <p class="previous">
      <a href="/page@(Model.NextPage)">Next Page</a>
    </p>
    }

  </div>
